.product {
    width: 1400px;
    margin: auto;
}

.product-details {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    float: left;
}

.product-details img {
    width: 200px;
    height: 200px;
}